        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

        *
        {
            font-family: "Outfit", Arial, Helvetica, sans-serif;
        }

        svg 
        {
            width: 30px; /* Aumenta a largura */
            height: auto; /* Mantém a proporção */
        }

        main
        {   
            height: 93vh;
        }
        
        .navbar-brand img
        {
            width:  50px;
            height: 50px;
        }

        /* Esconde o checkbox real */
        #menu-toggle {
            display: none;
        }

        /* Estilização do ícone Hamburger (Label) */
        .hamburger-label {
            cursor: pointer;
            z-index: 1001; /* Fica acima de tudo */
            position: left;
            padding: 10px;
        }

        /* O Container do Menu Fullscreen */
        .full-screen-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 93%;
            background-color: #72b850; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease, visibility 0.3s ease;
            
            /* Estado inicial: escondido */
            opacity: 0;
            visibility: hidden;
            z-index: 1000;
        }

        /* Lógica de exibição quando o checkbox está marcado */
        #menu-toggle:checked ~ .full-screen-menu {
            opacity: 1;
            visibility: visible;
        }

        /* Estilização dos links no menu */
        .full-screen-menu .nav-link {
            font-size: 2rem;
            color: white;
            margin: 15px 0;
            border-radius: 8px;
            transition: transform 0.2s;
            background-color: black;
            transition: 0.3s ease-in-out;
        }

        .full-screen-menu .nav-link:hover {
            transform: scale(1.1);
            background-color: #0165b0;
            transition: 0.3s ease-in-out;
        }

        /* Impede o scroll do corpo quando o menu está aberto */
        body:has(#menu-toggle:checked) {
            overflow: hidden;
        }